* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.general-container{
    height: 3810px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    border: 1px dashed gray;
    margin: 0 auto;
}
.header-container{
    height: 80px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.user{
    width: 38px;
    height: 38px;
    margin-left: 100px;
}
.nav-bar{
    width: 400px;
    height: 28px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 722px;
}
.nav-bar-item{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
}
.presentation-container{
    height: 369px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 120px 200px 5px 200px;    
}
.title{
    width: 1040px;
    height: 84px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 64px;
    color: #060A24;    
}
.sub-title{
    width: 628px;
    height: 48px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    color: #060A24;    
    line-height: 24px;
}
.cta-more{
    width: 226px;
    height: 56px;
    background: #00F3BB;    
    border:none;
    margin-top: 56px;
}
.cta-more-text{
    font-family: 'IBM Plex Mono Medium', monospace;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}
.cta-more:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);    
    color: #FFFFFF;
}
.chapters-container{
    height: 1042.6px;
    width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 186px 0px 232.6px 0px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);    
}
.chapters-title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 200px;
}
.chapters-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 26px 64px 233px 64px;
}
.chapter{
    width: 584px;
    height: 232px;
    margin-left: 36px;
    margin-right: 36px;
    margin-bottom: 72px;
}
.center-container{
    height: 491.4px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    padding: 20.4px 256px 0px 200px;   
}
.cellphone-image{
    width: 458px;
    height: 660px;
}
.center-container-title{
    width: 399px;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
}
.center-container-content{
    width: 464px;
    height: 204px;    
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
}
.grid-container{
    height: 890px;
    width: 1440px;
    display: flex;
    flex-direction: column;        
}
.grid-title{
    width: 481px;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-left: 200px;
}
.grid-row{
    height: 364px;
    width: 1440px;
    display: flex;
    flex-direction: row;        
}
.grid-item{
    height: 364px;
    width: 480;      
}
.topics-title{
    width: 586px;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-top: 64px;
    margin-left: 200px;
}
.topics-container{
    height: 426px;
    width: 1440px; 
    display: flex;
    flex-direction: row;    
    padding-left: 200px;
    padding-right: 200px;
}
.topic-item{
    height: 165px;
    width: 1440px;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center; 
    margin-top: 69px;    
}
.topic-icon{
    height: 104px;
    width: 104px;    
}
.topic-text{
    height: 32px;
    width: 220px;
    font-family: 'IBM Plex Sans SemiBold', sans-serif;    
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    margin-top: 29px;
}
.last-news{    
    width: 1440px;
    height: 518px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.last-news-text{    
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;  
    margin: 213px 374px 36px 374px;
}
.cta-listen{
    width: 345px;
    height: 56px;
    background: #00F3BB;    
    border: none;
    margin: 0px 548px 151px 547px;
}
.cta-listen-text{
    font-family: 'IBM Plex Mono Medium', monospace;
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}
.footer-container{
    height: 95px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    padding: 36px 100px 31px 100px;
}
.contact{    
    width:232px;
    height:28px;    
    margin-left: 739px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-icon{
    width:18px;
    height:28px;    

    border: 1px dashed gray;
}
